.xdaq-sfb-banner {
    width:100%;
}
.xdaq-sfb-banner td {
    text-align:right;
    float:right;
}
.xdaq-sfb-banner td:first-child {
    text-align:left;
    float:left;
}
.xdaq-sfb-layout {
    table-layout:fixed;
    text-align:center;
    vertical-align:middle;
    border-collapse:separate;
    border-style:none;
    border-spacing:10px;
    margin:0px;
    min-width:72em;
    width:95%;
}
.xdaq-sfb-layout a:link,
.xdaq-sfb-layout a:visited {
    color:#4C2992
}
.xdaq-sfb-arrow {
    width:55px;
}
.xdaq-sfb-component {
    vertical-align:top;
    background:#f6f6f6;
    border: thin solid #bbb;
    border-collapse:separate;
    padding-bottom:20px;
    position:relative;
    min-width:22em;
}
.xdaq-sfb-component p {
    width:100%;
    margin:0px;
    font-weight:bold;
    text-align:center;
    color:#FFF;
    background-color:#4C2992;
}
.xdaq-sfb-component table {
    border-style:none;
    padding:4px;
    width:100%;
    white-space:nowrap;
    table-layout:auto;
}
.xdaq-sfb-component th {
    font-weight:bold;
    text-align:center;
    padding-top:15px;
}
.xdaq-sfb-component td {
    text-align:right;
}
.xdaq-sfb-component td:first-child {
    text-align:left;
}
.xdaq-sfb-queue {
    margin:0px;
    margin-top:7px;
    vertical-align:middle;
    border-collapse:separate;
    padding-bottom:0px;
}
.xdaq-sfb-queue table {
    table-layout:fixed;
    border-collapse:collapse;
    padding:0px;
    text-align:center;
    empty-cells:show;
    background:#f7f8f9;
    border: solid 1px #bbb;
}
.xdaq-sfb-queue th {
    padding-top:5px;
    font-weight:normal;
    text-align:center;
    overflow:visible;
}
.xdaq-sfb-queue td:first-child {
    font-weight:normal;
    text-align:center;
    overflow:visible;
}
.xdaq-sfb-queue-full {
    height:1em;
    background:#4C2992;
}
.xdaq-sfb-queue-empty {
    background:#feffd6;
}
.xdaq-sfb-queuefloat
{
    position:absolute;
    visibility:hidden;
    min-width:20em;
    z-index:5;
}
.xdaq-sfb-queuedetail table {
    background:#f7f8f9;
    border: thin solid #bbb;
    border-collapse:separate;
    padding:0px;
    table-layout:auto;
    white-space:normal;
    font-size:0.9em;
}
.xdaq-sfb-queuedetail td
{
    border: thin solid #bbb;
    text-align:left;
}
.xdaq-sfb-queuedetail td:first-child
{
    text-align:left
}
.xdaq-sfb-queuedetail th
{
    border: thin solid #bbb;
    background:#e0e0e0;
}
