#main-div
{

    width: 100%;
    display: inline-block;
    padding-left: 100px;
    
}

#wrapper
{
    margin-left: auto; margin-right: auto;
    //outline: green solid 2px;
    width: 50%;
}

#left
{
    float: left;
    margin-left: auto; margin-right: auto;
    width: 50%;
    //outline: blue solid 2px;
}

#right
{
    float: right;
    margin-left: auto; margin-right: auto;
    width: 50%;
    //outline: red solid 2px;
    
}

#to-eslas
{
    margin-left: auto; margin-right: auto;    
}