.exception-critical { cursor: pointer; background: #FF0000 !important;}    
.exception-fatal { cursor: pointer; background: #FF5000 !important;}       
.exception-error { cursor: pointer; background: #FFC000 !important;}       
.exception-warning { cursor: pointer; background: #FFFF00 !important;}        
.exception-unknown { cursor: pointer; background: #00BFFF !important;}   

.exception-raised-accepted { cursor: pointer; background: #FFC000 !important;} 
.exception-raised-unaccepted { cursor: pointer; background: #FF0000 !important;} 
.exception-shelved-accepted  { cursor: pointer; background: #00BFFF !important;} 
.exception-shelved-unaccepted { cursor: pointer; background: #00a2d8 !important;} 
.exception-cleared-accepted  { cursor: pointer; background: #CCC !important;} 
.exception-cleared-unaccepted { cursor: pointer; background: #EEE !important;}     


#sentinel-arc-exception-path
{
	color: #007FDC;
	display: inline;
}

#sentinel-arc-exception-list-type
{
	font-weight: 600;
	display: inline;
}

table[id*="xdaq-sentinel-arc-"] caption
{
	text-align:left !important;
}

/* exception viewer window, nowrap stops tree displaying wrong */
#xdaq-sentinel-arc-exception-viewer-tree
{
	width: 100%;
	white-space: nowrap;
}

.xdaq-sentinel-arc-exception-viewer-hidden
{
	display:none;
}

/* JSON text area in exception viewer */
.sentinel-arc-output-textarea
{
	height: 280px;
	width: 100%;
}

/* td containing the exception viewer tree */
#xdaq-sentinel-arc-exception-viewer-td-tree 
{
	width:300px;
	border-collapse: collapse;
	border: 1px solid #CCCCCC;
	border-right: 0px;
	padding: 0px;
}

/* td containing the exception viewer properties table */
#xdaq-sentinel-arc-exception-viewer-td-table 
{
     padding: 0px;
     margin-left: 10px;
     border-top: solid #ccc 1px;
}

/* override default xdaq-table properties for exception viewer */
#xdaq-sentinel-arc-exception-viewer-tree, #xdaq-sentinel-arc-exception-viewer-tree tr
{
	border:0px;
}
/* override default xdaq-table properties for exception viewer */
#xdaq-sentinel-arc-exceptions-properties, #xdaq-sentinel-arc-exceptions-properties thead tr
{
	border-top:0px !important;
}

#xdaq-sentinel-arc-exceptions-table-wrapper
{
	height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* first column of the exception table below tree table */
#xdaq-sentinel-arc-exceptions-table-tbody td:first-child
{
	text-align: center;
}

/* set all tables to full width */
#xdaq-sentinel-arc-tree, #xdaq-sentinel-arc-exceptions-table, #xdaq-sentinel-arc-exceptions-properties, #xdaq-sentinel-arc-exceptions
{
	width: 100%;
}

/* override default line height for xdaq-table-tree (which are large for text inputs) */
#xdaq-sentinel-arc-tree tr
{
	line-height:inherit;
}

/* selected row in exception table below tree table */
.sentinel-arc-exceptions-table-selected
{
	outline: 1px solid rgb(66, 184, 221);
	background: #EEE;
}

/* selected cell in tree table */
.sentinel-arc-tree-table-selected
{
	outline: 2px solid rgb(66, 184, 221);
}

.sentinel-arc-loading-screen
{
	position: fixed;
	left:48%;
	text-align: center;
	top: 48%;
}
